.container{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 15%;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    border: 1px solid black;
    width: 15%;
    height: 50px;
    margin: auto;
}

.progress{
   
    border: 2px solid black;
    width: 50%;
    height: 20px;
    margin: auto;
    margin-bottom: 50px;
   

}
