body {
    width: 100%;
    height: 100%;
  }
  
  header {
    width: 100%;
    background: #579c87;
    display: flex;
    justify-content: center;
  }
  header h1 {
  
    color: #fdcb46;
    font-size: 2em;
  
  }
  header a{
      text-decoration: none;
  }

 footer {
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
  height: 4em;
  background: #579c87;
  border-top: 2px #a1c181;
  display: flex;
  align-content: center;
  align-items: center;
}
footer .btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 1em 0 1em;
  text-decoration: none;
}
footer .btns a {
  color: #fdcb46;
  font-size: 1.5em;
}

.prochainement p {
  font-family: "uniform-5-regular", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btns_btn {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 1s;
  /* When the animation is finished >> start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -1px) rotate(-1deg);
  }
}

@keyframes blink {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}


p span:nth-child(2) {
  animation-delay: .5s;
}

p span:nth-child(3) {
  animation-delay: .9s;
}

footer .btn_gauche{
  padding-left: 10px;
  text-decoration: none;
}
footer .btn_droit{
  padding-right: 10px;
  text-decoration: none;
}
 section{
      width:50%;
      margin:auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      border:1em solid #fff;
      box-shadow: 1px 1px 10px 0px rgba(204, 204, 204, 0.9);
      background:#fff ;
      margin-bottom: 50px;
      padding-right: 40px;
     }
  .menus{
    display:flex;
    justify-content: center;
    font-family: "uniform-3-regular", 'Segoe UI', Tahoma,Verdana, sans-serif;
    font-weight: 700;
    font-size: 0.6em;
   
    
  }
  .grand_titre{
    font-family: 'Kaushan Script', cursive;
    font-weight: 500;
    font-size: 2.25em;
    color: #72bf56;
  background: linear-gradient(to right,#5dad4b, #9ee46e);
  color: transparent;
   background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  }
  .plat ,.plat_principaux,.dessert
  {
      display: flex;
      justify-content: space-between;
      font-family: 'Kalam', cursive, sans-serif;
      width: 100%;
      margin: auto;
    
  }
  .titre_menu{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
  
  }
  
  .ligne_gauche{
    width: 30%;
  }
  .ligne_droit{
    width: 30%;
  }

  .nom_plat{
    justify-self: flex-start;
    font-weight: 500;
    
 }

.prix_plat{
    font-weight: 500;
    justify-self: flex-end;


}
.nom_dessert{
    font-weight: 500;
    justify-self: flex-end;


}
.sous_titre h3{
    display: flex;
    justify-content: center;
    font-family: 'Kalam', cursive, sans-serif;
    font-size: 1.4em;
    color:#000;
}